@model dynamic

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p>This solution contains a few classes and helpers that I've written for various MVC projects over the years.</p>

<p>Feel free to poke around and grab anything you find helpful!</p>